# System & Environment
venv/
.env
pyvenv.cfg
setup.cfg
__pycache__/
*.pyc
*.pyd
.idea/
.vscode/
.DS_Store

# Huge Weights & Models (DO NOT UPLOAD)
models/
tts/
tts_cache/
*.pth
*.pth.tar
*.pt
*.bin
*.out
*.7z
*.zip
*.rar
*.exe
ffmpeg/
ffprobe/
ffmpeg.exe
ffprobe.exe

# User Audio & Temporary Assets
static/ttslist/*
static/tmp/*
static/voicelist/*
*.wav
!static/voicelist/.gitkeep
!static/ttslist/.gitkeep

# Logs
*.log
app.log
log.out

# Git specific
.git/